.navbar-container{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background: #076585;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.navbar-tab-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    width: 500px;
    margin-right: 50px;
    font-weight: 400;
    font-size: 13px;
}

.logo-img{
    height: 40px;
    width: 150px;
}

.nav-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.active{
    border: 0;
    padding: 5px;
    border-bottom:3px solid #FF0456;
}

